*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  overflow-x: hidden;  
}

.main-content
{
  background-color: var(--container-color);
}

.stds-stat{
  margin-top: 1.5rem;
}

.add-new-std,.real-stc
{
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.add-new-std
{
  background-color: #ffff;
  border : 3px dashed var(--title-color);
  transition: 0.1s all ease-in-out;
}

.add-new-std, .add-new-std:hover
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-std:hover
{
  background: linear-gradient(to left,#08c07d,#69939e);
  border: none;
  transform: scale(1.01);
}


span,a, a:hover
{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.stc-box{
  padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--title-color);
    font-weight: 500;
    width: 100%;
}

.stc-val-parent
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stc-value{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}


.svg{
  vertical-align: middle;
}

.stc-name {
  font-size: 1.4rem;
}



.real-stc
{
  background: linear-gradient(to left,#042b25,#8dc7ba);
}

.sec-stc
{
  color: #ffff;
}

.stc-icon
{
  position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--title-color);
    background-color: #fff;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 2.2rem;
}


.stdTableParent {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
  box-shadow: var(--shadow);
}

.btn
{
  background-color: var(--first-color);
  box-shadow: var(--shadow);
  color: white;
  font-weight: var(--font-semi-bold);
  height: 40px;
  width: 320px;
}


.bg-light {
  background-color: #ffff!important;
}

tr{
  height: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


td{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table-responsive{
  overflow-x: scroll;
  min-height: 35vh;
}


.table-responsive th {
    padding: 2rem 1rem;
    text-align: right;
    color: #777777;
    border-top: 1px solid #707070;
    text-align: center !important;
}

th {
  font-size: 1.4rem;
  padding: 1rem 0;
}


td, th {
  min-width: 100px;
  text-align: right !important;
  padding: 1.2rem 0;
  font-size: 1.1rem;
}

.table-responsive td {
  min-width: 8rem;
  padding: 2.5rem 1rem;
  font-size: 1.2rem;
  color: var(--title-color);
  text-align: center !important;
}


.table-responsive .table-level-parent {
  min-width: 14rem;
}

.table-responsive .table-level {
  background-color: #cecece;
  color: rgb(4, 4, 138);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  text-align: center;
}

.question-code-parent {
  display: flex;
  align-items: center;
}




button, select {
  text-transform: none;
}


button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}


.page-link
{
  color: var(--first-color);
}

.page-link:hover
{
  color : rgb(1, 128, 1);
  transform: scale(1.2) ;
}


label
{
  font-weight: 800;
  font-size: 24px;
  color: var(--text-color);
}


.name{
  color: #41ac08 !important;
}

.depType
{
  color: #777777;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}


.fa-id-card-clip{
  padding-left: 10px;
}


.dropdown-toggle::after {
  display: none;
}



.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
}

.dropdown-toggle:focus + .dropdown-menu {
  display: block;
}




.btndots
{
  width: 25%;
  border-radius: 10px;
  background-color: white;
  color: rgb(56, 123, 215);
}
