/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;

    /*========== Colors ==========*/
    --first-color: #92BCB5;
    --first-color-light: #FEF1CF;
    --title-color: #19181B;
    --text-color: #5a5b62;
    --text-color-light: #B5B5B8;
    --body-color: #F7F6FD;
    --container-color: #FFFFFF;
    --shadow: rgba(0,0,0,0.15) 0px 2px 8px;

    /*========== Font and typography ==========*/
    --body-font: 'Cairo', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}
 *{
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.bdy{
        background-color: var(--body-color);
         font-family: var(--body-font); 
         font-size: var(--small-font-size);
        font-weight: var(--font-medium); 
        user-select: none;
        overflow-x: hidden;
        text-decoration: none;
}

.container{
    display: grid;
    width: 98%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
aside{
    margin-top: 1rem;
    width: 16rem;
    background-color:var(--container-color);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
width: 3rem;
height: 3rem;
}
aside .logo .danger{
    color: var(--first-color);
}
aside .logo .close-btn{
    margin-top: -1rem;
    margin-left: 1rem;
    color: #92BCB5;
    display: none;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
} 
aside .sidebar li a{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.2rem;
    transition:all 300ms ease ;
    -webkit-transition:all 300ms ease ;
    -moz-transition:all 300ms ease ;
    -ms-transition:all 300ms ease ;
    -o-transition:all 300ms ease ;
}
aside .sidebar  li:last-child{
    position: absolute;
    bottom: 6rem;
    width: 100%;
}
aside hr{
    border-top: 1px solid var(--text-color);
    margin-top: 1rem;
}
aside .sidebar a.active{
    color:var(--first-color) ;
    margin-left: 0;
}
aside .sidebar a.active::before{
    content: "";
    width: 4px;
    height: 60%;
    background: var(--first-color);
}
aside .sidebar a:hover {
    color: var(--first-color);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}
aside .sidebar li a .drop{
    position: absolute;
    left: 0;
    margin: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
aside .sidebar li .sub-menu{
    display: none;
}
aside .sidebar li .sub-menu a{
    display: flex;
    gap: 4rem;
    align-items: center;
    position: relative;
    height: 1.5rem;
    transition:all 300ms ease ;
    -webkit-transition:all 300ms ease ;
    -moz-transition:all 300ms ease ;
    -ms-transition:all 300ms ease ;
    -o-transition:all 300ms ease ;
    margin-right: 2rem;
}
aside .sidebar li .sub-menu .show{
    display: block;
}
.rotate{
    transform: rotate(90deg);
  }
/*end aside bar*/

main{
    margin-top: 1.4rem;
    margin-right: 5%;
}
main .menu-btn{
    margin-right: -11%;
    color: var(--first-color);
    margin-top: 1.4rem;
    display: none;
}
/*style nav top left*/
main  .title{
    display:flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.4rem;
}
main .title .date{
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
/*end top left*/

/*style nav top right*/
main .right{
    margin-top: -2rem;
}
main .right .top{
    display: flex;
    justify-content: center;
    justify-content: end;
    gap: .5rem;

}
main .right .top .search input{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 300px;
    height: 30px;

}
main .right .top  span{
    background-color: var(--first-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--container-color);
    margin-right: -2.5rem;
    margin-top: .2rem;
}
main .right .top .profile-photo{
    background-color: var(--first-color);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -.3rem;
    margin-left: 2rem;
}
.profile-photo img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
/*end nav top right*/

/*style main-content*/
main .insights{
    display: flex;
    grid-template-columns: repeat(3,lfr);
    gap: 2.6rem;
    justify-content: center;
}
main .insights > div{
    background: var(--container-color);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 2rem;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    display: flex;
    justify-content:space-between;
    width: 350px;
}
main .insights > div .right{
    margin-top: -.2rem;
}
main .insights > div span{
    background: var(--first-color);
    padding: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--container-color);
    font-size: 40px;
    margin-right: 30px;
}
main .insights > div h1{
    font-size: 20px;
}
main .insights > div h3{
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
main .insights > div.professor span{
    background: var(--first-color-light);
}
main .insights > div.TA span{
    background: #c6beef;
}
main .portfolio{
    margin-top: 4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 10.5rem;
}
main .portfolio .right{
    margin-top: 1.4rem;
    margin-right: 2rem;
    
}
main .portfolio h2 span{
   font-weight: 400px;
   color: var(--text-color);
}
main .portfolio p{
   color: var(--text-color);
   width: 80%;
   font-size: var(--normal-font-size);
   margin-top: 1.4rem;
}
main .portfolio .left img{
    width: 25rem;
    height: 35rem;
    margin-top: -13.5rem;
    margin-left: 3rem;
}


@media screen and (max-width: 1200px) {
    .container{
        width: 98%;
        grid-template-columns: 2rem auto 23rem;
    }
    aside{
        width: 5rem;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar li .sub-menu a{
        display: flex;
        gap: 2rem;
        margin-right: .5rem;
    }
    main .portfolio{
        width: 820px;
    }
    main .insights > div{
        width: 265px;
    }
}

@media screen and (max-width: 760px) {
    .container{
        width: 100%;
    }
    aside{
        right: 0;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem #92BCB5;
        height: 100vh;
    }
    aside .logo h2{
        display: block;
    }
    aside .sidebar h3{
        display: block;
    }
    aside .sidebar li .sub-menu a{
        display: flex;
        gap: 4rem;
        margin-right: 2rem;
    }
    aside .logo .close-btn{
        display:block;
    }
    aside{
        width: 0;
    }
    aside .sidebar{
        display: none;
    }
    main  .title{
        margin-top: -2rem;
    }
    aside .top{
        display: none;
    }
    main .portfolio{
        width: 640px;
        margin-right: -10%;
    }
     main .portfolio .left img{
        width: 22rem;
       height: 36rem;
    } 
    main .portfolio p{
        width: 250px;
    }
    main .insights{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-right: 10%;
    }
    main .insights > div{
        width: 400px;
    }
    main .right{
        margin-top: -1.4rem;
    }
    main .right .top .search input{
        width: 250px;
    }
    main .menu-btn{
        display: block;
        color: #92BCB5;
    }
    .active{
        width: 18rem;
    }
    .active .sidebar{
        display: block;
    }
    .active .top{
        display: block;
    }
}
@media screen and (max-width: 440px) {
    main .menu-btn{
        margin-top: -.4rem;
    }
    main .right .top{
        margin-top: 2rem;
        gap: 0rem;
    }
    main .portfolio{
        width: 350px;
        height: 14rem;
    }
    main .portfolio .right {
        padding-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 4.5rem;
    }
     main .portfolio .left img{
        margin-right: -75%;
        margin-top: -16rem;
        width: 20rem;
    }
    main .portfolio p{
        width: 220px;
        align-items: center;
        margin-top: -1rem;
    } 
    main .insights{
        margin-right: -10%;
    }
    main .insights > div{
        width: 350px;
    }
}