/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;

    /*========== Colors ==========*/
    --first-color: #92BCB5;
    --first-color-light: #FEF1CF;
    --title-color: #19181B;
    --text-color: #5a5b62;
    --text-color-light: #B5B5B8;
    --body-color: #F7F6FD;
    --container-color: #FFFFFF;
    --shadow: rgba(0,0,0,0.15) 0px 2px 8px;

    /*========== Font and typography ==========*/
    --body-font: 'Cairo', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}
 *{
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.bdy{
        background-color: var(--body-color);
         font-family: var(--body-font); 
         font-size: var(--small-font-size);
        font-weight: var(--font-medium); 
        user-select: none;
        overflow-x: hidden;
        text-decoration: none;
}

.container{
    display: grid;
    width: 98%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}

main .insights{
    display: flex;
    grid-template-columns: repeat(3,lfr);
    gap: 2.6rem;
    justify-content: center;
}
main .insights > div{
    background: var(--container-color);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 2rem;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    display: flex;
    justify-content:space-between;
    width: 350px;
}
main .insights > div .right{
    margin-top: -.2rem;
}
main .insights > div span{
    background: var(--first-color);
    padding: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--container-color);
    font-size: 40px;
    margin-right: 30px;
}
main .insights > div h1{
    font-size: 20px;
}
main .insights > div h3{
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
main .insights > div.professor span{
    background: var(--first-color-light);
}
main .insights > div.TA span{
    background: #c6beef;
}
main .portfolio{
    margin-top: 4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 10.5rem;
}
main .portfolio .right{
    margin-top: 1.4rem;
    margin-right: 2rem;
    
}
main .portfolio h2 span{
   font-weight: 400px;
   color: var(--text-color);
}
main .portfolio p{
   color: var(--text-color);
   width: 80%;
   font-size: var(--normal-font-size);
   margin-top: 1.4rem;
}
main .portfolio .left img{
    width: 25rem;
    height: 35rem;
    margin-top: -13.5rem;
    margin-left: 3rem;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 98%;
        grid-template-columns: 2rem auto 23rem;
    }
    main .portfolio{
        width: 820px;
    }
    main .insights > div{
        width: 265px;
    }
}

@media screen and (max-width: 760px) {
    .container{
        width: 100%;
    }

    main .portfolio{
        width: 640px;
        margin-right: -10%;
    }
     main .portfolio .left img{
        width: 22rem;
       height: 36rem;
    } 
    main .portfolio p{
        width: 250px;
    }
    main .insights{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-right: 10%;
    }
    main .insights > div{
        width: 400px;
    }
}
@media screen and (max-width: 440px) {
    main .portfolio{
        width: 350px;
        height: 14rem;
    }
    main .portfolio .right {
        padding-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 4.5rem;
    }
     main .portfolio .left img{
        margin-right: -75%;
        margin-top: -16rem;
        width: 20rem;
    }
    main .portfolio p{
        width: 220px;
        align-items: center;
        margin-top: -1rem;
    } 
    main .insights{
        margin-right: -10%;
    }
    main .insights > div{
        width: 350px;
    }
}